<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
  
  <mapper namespace="spring.store.mapper.UserMapper">
  <!-- 添加用户信息 -->
  <!-- void insert(User user) -->
  <insert id="insert"
  		parameterType="spring.store.bean.User">
  		insert into t_user(
  			username,password,
  			phone,email,gender,
  			created_user,created_time, 
			modified_user,modified_time
  		)values(
  			#{username},#{password},
			#{phone},#{email},#{gender},
			#{createdUser},#{createdTime},
			#{modifiedUser},#{modifiedTime}
		);
  
  </insert>
  <select id="getUserByUsername" resultType="spring.store.bean.User">
  		select
			id,username,password,
			phone,email,gender,
			created_user as createdUser,
			created_time as createdTime,
			modified_user as modifiedUser,
			modified_time as modifiedTime
		from
			t_user
		where
			username=#{username};
  
  </select>
  <select id="getCountByEmail" resultType="java.lang.Integer">
  		select 
  			count(email) 
  		from 
  			t_user 
  		where 
  			email=#{email}
  </select>
  <select id="getCountByPhone" resultType="java.lang.Integer">
  		select 
  			count(Phone) 
  		from 
  			t_user
  		where 
  			phone=#{phone}
  </select>
  </mapper>